<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ name }}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='viewer.css') }}">
</head>
<body>
<div id="col-1">
    <h3>Channels</h3>
    <ul id="channel-list">
        {% for channel in channels %}
            <li class="channel {% if channel == name %}active{% endif %}">
                <a href="{{ url_for('channel_name', name=channel) }}">
                    #{{ channel }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="messages" id="col-2">
    {% for message in root_messages %}
        <div>
          <div id="{{ message.id }}">
            <img src="{{ message.img }}"/>
            <div class="message">
                <div class="username">{{ message.username }}</div>
                <a href="#{{ message.id}}"><div class="time">{{ message.time }}</div></a>
                <div class="msg">{{ message.msg|safe }}</div>
                {% if message.num_replies > 0 %}
                  <a href="/channel/{{ name }}/{{ message.ts }}"><div class="reply_count">{{ message.num_replies }} replies</div></a>
                {% endif %}
            </div>
          </div>
        </div>
        <br/>
    {% endfor %}
</div>
<div class="thread messages" id="col-3">
  <span>THREAD</span>
  {% for message in thread %}
    <div>
      <div id="{{ message.id }}">
        <img src="{{ message.img }}"/>
        <div class="message">
            <div class="username">{{ message.username }}</div>
            <a href="#{{ message.id}}"><div class="time">{{ message.time }}</div></a>
            <div class="msg">{{ message.msg|safe }}</div>
        </div>
      </div>
    </div>
    <br/>
  {% endfor %}
  <!-- Switch to iterating through all threads if I don't want to have to refresh the page each time -->
</div>
</body>
</html>
